<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">    

</head>
<body>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-md-7 main">

            <h1 class="page-header">Jobs in NY</h1>

            <section  data-place="staten">
                <h2>Staten Island</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut felis eleifend, blandit enim eget, viverra ante. Suspendisse ut est vel sem aliquet lobortis. Curabitur ornare lacinia arcu. Quisque venenatis nibh quis auctor lacinia. Phasellus ac nulla vel augue lobortis adipiscing. Sed id tempus ante. Aliquam erat volutpat. Donec ut condimentum lectus, eu blandit nisi. Donec elementum ipsum nec semper fermentum. Proin id neque odio.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>

            <section  data-place="manhattan">
                <h2>Manhattan</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut felis eleifend, blandit enim eget, viverra ante. Suspendisse ut est vel sem aliquet lobortis. Curabitur ornare lacinia arcu. Quisque venenatis nibh quis auctor lacinia. Phasellus ac nulla vel augue lobortis adipiscing. Sed id tempus ante. Aliquam erat volutpat. Donec ut condimentum lectus, eu blandit nisi. Donec elementum ipsum nec semper fermentum. Proin id neque odio.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>

            <section  data-place="brooklyn">
                <h2>Brooklyn</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut felis eleifend, blandit enim eget, viverra ante. Suspendisse ut est vel sem aliquet lobortis. Curabitur ornare lacinia arcu. Quisque venenatis nibh quis auctor lacinia. Phasellus ac nulla vel augue lobortis adipiscing. Sed id tempus ante. Aliquam erat volutpat. Donec ut condimentum lectus, eu blandit nisi. Donec elementum ipsum nec semper fermentum. Proin id neque odio.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>
    
            <section  data-place="bronx">
                <h2>Bronx</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut felis eleifend, blandit enim eget, viverra ante. Suspendisse ut est vel sem aliquet lobortis. Curabitur ornare lacinia arcu. Quisque venenatis nibh quis auctor lacinia. Phasellus ac nulla vel augue lobortis adipiscing. Sed id tempus ante. Aliquam erat volutpat. Donec ut condimentum lectus, eu blandit nisi. Donec elementum ipsum nec semper fermentum. Proin id neque odio.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>

            <section  data-place="queens">
                <h2>Queens</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut felis eleifend, blandit enim eget, viverra ante. Suspendisse ut est vel sem aliquet lobortis. Curabitur ornare lacinia arcu. Quisque venenatis nibh quis auctor lacinia. Phasellus ac nulla vel augue lobortis adipiscing. Sed id tempus ante. Aliquam erat volutpat. Donec ut condimentum lectus, eu blandit nisi. Donec elementum ipsum nec semper fermentum. Proin id neque odio.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>

            <section  data-place="losa">
                <h2>Los Angeles</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut felis eleifend, blandit enim eget, viverra ante. Suspendisse ut est vel sem aliquet lobortis. Curabitur ornare lacinia arcu. Quisque venenatis nibh quis auctor lacinia. Phasellus ac nulla vel augue lobortis adipiscing. Sed id tempus ante. Aliquam erat volutpat. Donec ut condimentum lectus, eu blandit nisi. Donec elementum ipsum nec semper fermentum. Proin id neque odio.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>
                            

        </div>

        <div id="map" class="col-sm-3 col-md-5 sidebar">

        </div>

    </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="/static/leaflet-heat.js"></script>
<script type="text/javascript" src="/static/storymap.js"></script>
<script type="text/javascript">
    (function () {
        'use strict';

        // additional layers

        var url = "http://127.0.0.1:5000/api/jobs";
        var heatArray = [];
        var salaryArray = [];

        d3.json(url, function(response) {

        console.log(response);

        for (var i = 0; i < response.length; i++) {
            var lat = response[i].lat;
            var lon = response[i].lon;

            var frequency = response[i].salaryFrequency;
            var minSalary = response[i].salaryFrom;
            var maxSalary = response[i].salaryTo;
            var salary = minSalary * maxSalary / 2;
            if (frequency = 'Hourly') {
                salaryArray.push([lat, lon, salary * 40 * 52]);
            } else if (frequency = 'Daily') {
                salaryArray.push([lat, lon, salary * 262]);
            } else {
                salaryArray.push([lat, lon, salary]);
            }

            if (lat) {
            heatArray.push([lat, lon]);
            }
        }});

        var layers = {
            'heat': L.heatLayer(heatArray, {
                radius: 20,
                blur: 35
            }) /* ,
            'salary': L.heatLayer(salaryArray, {
                radius: 20,
                blur: 35,
                gradient: {
                    20000 : 'green',
                    50000 : 'yellow',
                    100000 : 'red' 
                }
            })*/
        };

        var markers = {
            manhattan: {lat: 40.7831, lon: -73.9712, zoom: 12, layer:layers['heat']},
            brooklyn: {lat: 40.6782, lon: -73.9442, zoom: 12},
            queens: {lat: 40.7282, lon: -73.7949, zoom: 12},
            bronx: {lat: 40.8448, lon: -73.8648, zoom: 12},
            staten: {lat: 40.5795, lon: -74.1502, zoom: 12}
        };

        $('.main').storymap({markers: markers});
    }());
</script>
</body>
</html>