<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">    

</head>
<body>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-md-7 main">

            <h1 class="page-header">Jobs in NY</h1>

            <section  data-place="newyork">
                <h2>New York</h2>
                <p>We are taking a look at government jobs as they are distributed throughout New York City.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>

            <section  data-place="manhattan">
                <h2>Manhattan</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut felis eleifend, blandit enim eget, viverra ante. Suspendisse ut est vel sem aliquet lobortis. Curabitur ornare lacinia arcu. Quisque venenatis nibh quis auctor lacinia. Phasellus ac nulla vel augue lobortis adipiscing. Sed id tempus ante. Aliquam erat volutpat. Donec ut condimentum lectus, eu blandit nisi. Donec elementum ipsum nec semper fermentum. Proin id neque odio.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>

            <section  data-place="brooklyn">
                <h2>Brooklyn</h2>
                <p>Downtown Brooklyn and Manhattan's Financial District have the highest concentration of high-paying careers. </p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>

            <section  data-place="finance">
                <h2>Financial District and Downtown Brooklyn</h2>
                <p>Perhaps unsurprisingly, the area with the highest concentration of well-paying jobs appears to be focused in the Financail District of Manhattan and Downtown Brooklyn, just across the East River.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>
    
            <section  data-place="managers">
                <h2>Managerial and Professional Government Jobs</h2>
                <p>If you are in the market for managerial or professional jobs in New York, again the Financial District, downtown Brooklyn, and downtown Queens are your best bets.</p>
                <p>As for what falls into this category, example positions include "Safety Education Outreach Coordinator, Project Manager of Public Safety Radio, and Asistant Director of Analysis and Engagement.</p>
            </section>

            <section  data-place="queens">
                <h2>Queens</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut felis eleifend, blandit enim eget, viverra ante. Suspendisse ut est vel sem aliquet lobortis. Curabitur ornare lacinia arcu. Quisque venenatis nibh quis auctor lacinia. Phasellus ac nulla vel augue lobortis adipiscing. Sed id tempus ante. Aliquam erat volutpat. Donec ut condimentum lectus, eu blandit nisi. Donec elementum ipsum nec semper fermentum. Proin id neque odio.</p>
                <p>Proin massa lorem, eleifend non condimentum mattis, ultricies at odio. Vestibulum mauris ante, commodo et purus a, porta pharetra velit. Sed bibendum faucibus metus, at pretium nulla sagittis sit amet. Vestibulum sollicitudin elementum varius. Proin porta sapien justo, vel dapibus justo vulputate eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus ligula, dapibus eu sem quis, semper cursus dui. In eu faciliss augue. Proin dictum mi ut elit tempor vulputate. Mauris ut metus elit. Integer leo odio, auctor accumsan pharetra eget, aliquam et leo. Phasellus dapibus odio a viverra auctor. Vivamus euismod, nisi nec molestie consequat, ipsum mauris ultrices dolor, sit amet ornare nisl nisi non magna. Duis nunc neque, blandit ac tortor at, tristique pretium elit. Sed ornare porta nulla, vitae dapibus quam sagittis nec. Pellentesque erat purus, cursus sed consequat vel, vulputate at nibh.</p>
                <p>Suspendisse tincidunt neque ipsum, malesuada mattis quam luctus ut. Curabitur sed purus orci. Nullam auctor odio vel mauris vehicula pharetra. Maecenas et justo justo. Nam ut auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae lacus quis nulla varius semper vel quis libero. Donec sagittis rhoncus justo, id bibendum magna scelerisque eget. Aenean ut ante dolor.</p>
                <p>Curabitur scelerisque diam lacus, at fringilla eros vulputate at. Ut ut eros luctus, auctor ante quis, luctus libero. Aliquam nec dui consectetur, mollis sapien at, convallis augue. Pellentesque facilisis bibendum nisl et aliquet. Pellentesque ac facilisis ante. Proin at libero odio. Sed pharetra elementum lacus sed cursus. Curabitur condimentum eu erat sed ultrices. Sed pretium bibendum nisi eu ornare. Nunc feugiat metus ac arcu eleifend, at iaculis est rutrum. Suspendisse faucibus odio vitae magna ullamcorper, sit amet placerat magna suscipit. Duis fringilla tristique libero eu pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porttitor nisi tortor, hendrerit commodo elit congue eget. Maecenas lobortis erat sed quam consequat, sed ultricies ante tincidunt.</p>
            </section>
                       
            <section  data-place="staten">
                <h2>Staten Island</h2>
                <p>There are very few job postings in Staten Island. From cursory searches, it appears as if Staten Island is primarily residential with a large number proportion of land devoted to park areas. This dataset may also just not properly capture jobs in Staten Island.</p>
                <p></p>
                <p></p>
                <p></p>
            </section>     

        </div>

        <div id="map" class="col-sm-3 col-md-5 sidebar">

        </div>

    </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<!-- <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css"> -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="/static/leaflet-heat.js"></script>
<script type="text/javascript" src="/static/storymap.js"></script>
<script type="text/javascript">
    (function () {
        'use strict';

        // additional layers

        var url = "http://127.0.0.1:5000/api/jobs";
        var heatArray = [];
        var salaryArray = [];
        var clusterArray = [];
        var catArray =[];

        d3.json(url, function(response) {

        console.log(response);

        for (var i = 0; i < response.length; i++) {
            var lat = response[i].lat;
            var lon = response[i].lon;
            var cat = response[i].jobCat;

            var frequency = response[i].salaryFrequency;
            var minSalary = response[i].salaryFrom;
            var maxSalary = response[i].salaryTo;
            var salary = (minSalary + maxSalary) / 2;
            if (frequency = 'Hourly') {
                salaryArray.push([lat, lon, salary * 40 * 52]);
            } else if (frequency = 'Daily') {
                salaryArray.push([lat, lon, salary * 262]);
            } else {
                salaryArray.push([lat, lon, salary]);
            }

            if (cat = 'Managerial and Professional') {
                catArray.push([lat, lon]);
            }

            if (lat) {
            heatArray.push([lat, lon]);
            }
        }});

        console.log(heatArray);

        var layers = {
            'heat': L.heatLayer(heatArray, {
                radius: 20,
                blur: 35
            }),
            'salary': L.heatLayer(salaryArray, {
                radius: 20,
                blur: 35//,
                // gradient: {
                //     20000 : 'green',
                //     50000 : 'yellow',
                //     100000 : 'red' 
                // }
            }),
            'managers': L.heatLayer(catArray, {
                radius: 20,
                blur: 35
            })
        };

        // var mappedJobs = layers.heat

        // var salaryMapped = layers.salary

        // var overlayMaps = {
        //         Jobs: mappedJobs,
        //         Salaries: salaryMapped
        //         };

        var markers = {
            newyork: {lat:40.8, lon: -73.8, zoom: 10},
            manhattan: {lat: 40.7831, lon: -73.9712, zoom: 12, layer:layers['heat']},
            brooklyn: {lat: 40.6782, lon: -73.9442, zoom: 11, layer:layers['salary']},
            queens: {lat: 40.7282, lon: -73.7949, zoom: 12},
            finance: {lat: 40.7061, lon: -73.9969, zoom: 14, layer:layers['salary']},
            managers: {lat: 40.7287, lon: -73.9667, zoom: 13, layer:layers['managers']},
            staten: {lat: 40.5795, lon: -74.1502, zoom: 12, layer:layers['salary']}
        };

        // L.control.layers(overlayMaps).addTo(map);

        $('.main').storymap({markers: markers});
    }());
</script>
</body>
</html>